.attendance-daily-records {
    background-color: var(--background-color);

    .daily-attendance-corrections {
        background-color: var(--card-bg-color);
        padding: 16px;
        border-radius: 20px;

        .icon {
            color: var(--theme);
        }
    }

    .daily-records-info {
        padding: 0px;
    }
}