.attendance-daily-records {
    background-color: var(--body-bg);

    .daily-attendance-corrections {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            color: var(--theme);
        }

        .attendance-records-container {
            background-color: var(--card-bg-color);
            padding: 0px;
        }
    }
}