/* Basic reset */
.btn-custom {
    border-radius: 0;
    font-weight: 500;
    padding: 0.45rem 1rem;
    border-width: 2px;
}

/* button.btn-custom {
  border-radius: 3px !important;
} */

/* Size modifiers */
.btn-xs {
    font-size: 0.7rem;
    padding: 0.1rem 0.5rem;
}

.btn-sm {
    font-size: 0.8rem;
    padding: 0.1rem 0.8rem;
}

.btn-md {
    font-size: 1rem;
    padding: 0.45rem 1rem;
}

.btn-lg {
    font-size: 1.15rem;
    padding: 0.6rem 1.2rem;
}

/* Solid Buttons */
.btn-solid {
    background-color: var(--theme-color);
    color: var(--gray-100) !important;
    border: 2px solid var(--theme-color);
}

/* Outline Buttons */
.btn-outline {
    background-color: transparent;
    color: var(--theme-color) !important;
    border: 2px solid var(--theme-color);
}

/* Hover effect for outline buttons */
.btn-outline:hover {
    background-color: var(--theme-color);
    color: #fff;
}

button.btn-custom.btn-solid {
    color: var(--gray-100) !important;
}

button.btn-custom.btn-outline {
    color: var(--theme-color) !important;
}

.btn-solid span {
    color: var(--gray-100) !important;
}

.btn-outline span {
    color: var(--theme-color) !important;
}

.btn-outline:hover span {
    color: var(--theme-color) !important;
    color: var(--color-white) !important;
}