.employee-leave-history {
    background-color: var(--body-bg);

    .leave-history-card {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            margin-top: 3px;
            color: var(--theme);
        }

        .leave-history-info {
            padding: 0px;
        }
    }
}