.leave-balance-card {
    background-color: var(--card-bg);
    padding: var(--padding-lg);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-glassy);
    border: 1px solid var(--border-color);

    .icon {
        color: var(--theme);
    }
}