.manager-ems-overview {
    background-color: var(--body-bg);

    .header-container {
        background-color: var(--card-bg);
        padding: 10px 20px;
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-soft);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;

        .back-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border: 1px solid var(--border-color);
            color: var(--muted-text-color);
            padding: 5px 15px;
            border-radius: 16px;
            cursor: pointer;

            &:hover {
                background-color: var(--theme);
                border: var(--theme);
                color: var(--color-white);
            }
        }

        .info-container {
            display: flex;
            align-items: center;
            gap: 10px;

            .icon-container {
                background-color: var(--theme);
                padding: 8px;
                border-radius: 10px;

                .icon {
                    color: var(--color-white);
                    font-size: 26px;
                }
            }
        }
    }

    .stat-card {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .icon {
            color: var(--theme);
            font-size: 26px;
        }
    }

    .approvals-requests-card {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            color: var(--theme);
        }

        .tabs-bar {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            background-color: var(--body-bg);
            padding: 5px 5px;
            border-radius: var(--radius-lg);
            box-shadow: var(--shadow-glassy);

            .tab {
                background-color: var(--card-bg);
                padding: 3px 15px;
                flex-grow: 1;
                text-align: center;
                border-radius: var(--radius-lg);
                cursor: pointer;
                font-size: 14px;
                color: var(--text-muted);

                &.active {
                    background-color: var(--theme);
                    color: var(--color-white);
                }
            }
        }

        @media (max-width: 580px) {
            .tabs-bar {
                background-color: transparent;
                box-shadow: none;
                border: none;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 10px;
                border-radius: 0px;
                border-bottom: 1px solid var(--border-color);

                .tab {
                    flex-grow: 0;
                    border: 1px solid var(--border-color);
                }
            }
        }

    }

    .leave-requests-container {

        .status-tabs {
            display: flex;
            padding: 0px;
            gap: 10px;
            font-size: 12px;

            .status-item {
                background-color: var(--background-color);
                padding: 2px 15px;
                border-radius: 20px;
                
                &.active {
                    background-color: var(--theme);
                    color: var(--color-white);
                }
            }
        }
    }

    .team-insights {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            color: var(--theme);
            font-size: 20px;
        }
    }

    .performance-feedback {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            color: var(--theme);
            font-size: 20px;
        }

        .performance-summary {
            display: flex;
            flex-direction: column;

            h3 {
                color: var(--theme);
            }
        }
    }

    .action-card {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .icon-container {
            background-color: var(--theme-light);
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            .icon {
                color: var(--theme);
                font-size: 40px;
            }
        }
    }

}

.manager-ems-modal {
    .att-basic-info {
        padding: 0px;
        list-style: none;

        li {
            color: var(--muted-text-color);
            font-size: 16px;
            margin-bottom: 5px;
        }
    }
}

.att-progress-bar {
    width: 100% !important;
    height: 10px !important;
    background-color: var(--background-color);
    border-radius: 10px;
    overflow: hidden;

    .att-progress {
        background-color: var(--theme);
        height: 100%;
        display: block;
        border-radius: 10px;
        transition: width 0.4s ease;
    }
}

.team-attendance-analytics {
    background-color: var(--card-bg-color);

    .tab-bar {
        background-color: var(--background-color);
        padding: 0px;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;

        .tab-item {
            text-align: center;
            flex-grow: 1;
            background-color: var(--card-bg-color);
            margin: 4px;
            border-radius: 20px;
            font-size: 14px;

            &.active {
                background-color: var(--theme);
                color: var(--color-white);
            }
        }
    }

    .overview-container {
        .stat-card {
            background-color: var(--background-color);
            padding: 14px;
            border-radius: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .icon {
                color: var(--theme);
                font-size: 26px;
            }
        }

        .department-label {
            border: 1px solid var(--border-color);
            padding: 6px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .icon-container {
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--card-bg-color);
                border-radius: 10px;

                .icon {
                    font-size: 24px;
                    color: var(--theme);
                }
            }
        }
    }

    .analytics-container {
        background-color: var(--card-bg-color);

        .stat-card {
            background-color: var(--background-color);
            padding: 8px;
            border-radius: 14px;
        }
    }
}