.attendance-corrections {
    background-color: var(--body-bg);

    .submit-corrections-card {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            color: var(--theme);
            margin-top: 3px;
        }
    }

    .correction-summary-card {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            color: var(--theme);
            font-size: 20px;
        }

        .correction-info {
            width: 100%;
        }
    }

    .pending-corrections {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            color: var(--theme);
            font-size: 20px;
        }

        .pending-labels {
            margin: 0px;
            padding: 0px;
            list-style: none;

            .label {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                background-color: var(--card-bg);
                padding: var(--padding-lg);
                border-radius: var(--radius-lg);
                box-shadow: var(--shadow-soft);
                border: 1px solid var(--border-color);
            }
        }
    }
}