.personal-information-card {
    background-color: var(--card-bg);
    padding: var(--padding-lg);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-glassy);
    border: 1px solid var(--border-color);

    h5 {
        margin-bottom: 0px;
    }

    p {
        color: var(--muted-text-color);
    }

    .icon {
        color: var(--theme);
    }

    .avatar-info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .profile-main-info {
        span {
            font-size: 14px;
            color: var(--muted-text-color);
        }
    }
}