.ems-overview {
    background-color: var(--body-bg);

    .stat-card {
        padding: var(--padding-lg);
        background-color: var(--card-bg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon {
            font-size: 30px;
            color: var(--theme);
        }
    }

    .recent-activities-container {
        padding: var(--padding-lg);
        background-color: var(--card-bg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            font-size: 20px;
            color: var(--theme);
        }

        .recent-activities {
            padding: 0px;
        }
    }

    .quick-actions {
        padding: var(--padding-lg);
        background-color: var(--card-bg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            fill: var(--theme);
            color: var(--theme);
        }

        .quick-action {
            padding: var(--padding-lg);
            background-color: var(--card-bg);
            border-radius: var(--radius-lg);
            box-shadow: var(--shadow-soft);
            border: 1px solid var(--border-color);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 12px;
            border-radius: 10px;

            .icon {
                color: var(--theme);
                fill: none;
                margin-bottom: 5px;
            }
        }
    }
}