.employee-leave-overview {
    background-color: var(--body-bg);

    .stat-card {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            font-size: 30px;
            color: var(--theme);
        }

        h3 {
            color: var(--theme);
        }
    }

    .recent-leave-request-card {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            font-size: 20px;
            color: var(--theme);
        }

        .recent-request-list {
            padding: 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-height: 300px;
            overflow-y: auto;
        }
    }

    .important-reminders {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            color: var(--theme);
            font-size: 20px;
        }

        .imp-reminders-list {
            padding: 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-height: 300px;
            overflow-y: auto;
        }
    }
}