.attendance-reports-page {
    background-color: var(--body-bg);

    .attendance-reports {
        background-color: var(--card-bg);
        padding: var(--padding-lg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);

        .icon {
            color: var(--theme);
            font-size: 20px;
        }

        button {
            background-color: var(--card-bg);
            padding: var(--padding-lg);
            border-radius: var(--radius-lg);
            box-shadow: var(--shadow-soft);
            border: 1px solid var(--border-color);
            width: 100%;

            &:hover {
                background-color: var(--hover-bg);
            }
        }
    }
}