.leave-history-label {
    background-color: var(--card-bg);
    padding: var(--padding-lg);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-glassy);
    border: 1px solid var(--border-color);

    .time-icon {
        font-size: 20px;
    }

    .icon-btn {
        background-color: none;
        border: 0px;
        outline: none;

        .icon {
            color: var(--theme);
            font-size: 23px;
        }
    }

}