.employee-dashboard {
    background-color: var(--body-bg) !important;
    min-height: 100vh;
}

.employee-profile-card {
    background-color: var(--card-bg);
    /* padding: 20px; */
    border-radius: var(--radius-lg);
    display: flex;
    gap: 10px;
    color: var(--text-muted);
    width: 100%;
    box-shadow: var(--shadow-glassy);
    border: 1px solid var(--border-color);

    .avatar-date-info {
        min-width: 150px;
        /* border: 1px solid var(--border-color); */
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-soft);
        padding: var(--padding-lg);

        .date-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 3px;

            .icon {
                color: var(--theme);
                height: 16px;
                width: 16px;
            }
        }

        .employee-status {
            display: flex;
            align-items: center;
            gap: 2px;

            span .icon {
                font-size: 10px !important;
            }
        }
    }

    .profile-info {
        width: 100%;
        padding: var(--padding-lg);

        .icon {
            color: var(--theme);
        }
    }

    .quote-container {
        border-radius: 20px;

        .icon {
            font-size: 20px;
            color: var(--theme);
            padding: 0px 2px;
        }

        .quote-by {
            display: flex;
            align-items: center;
            color: var(--theme);
        }
    }
}

@media (max-width: 402px) {
    .employee-profile-card {
        display: flex;
        flex-direction: column;

        .avatar-date-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
    }
}

.clock-in-out-container {
    background-color: var(--card-bg-color);
    padding: 20px;
    border-radius: 20px;

    .clock-header {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon {
            color: var(--theme);
        }
    }
}

/* Quick Actions stylings */
.quick-links {

    .icon {
        color: var(--theme);
    }

    .action-card {
        box-shadow: var(--shadow-glassy);
        border-radius: var(--radius-lg);
        background-color: var(--card-bg);
        padding: var(--padding-md);

        .action-btn {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            .icon {
                color: var(--theme);
                height: 30px;
                width: 30px;
                margin-bottom: 10px;
            }
        }
    }
}

/* Nudgers */

.nudgers-container {
    background-color: var(--card-bg);
    box-shadow: var(--shadow-glassy);
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 20px;

    .icon {
        color: var(--theme);
    }
}

/* Apply Leave OffCanvas */

.apply-leave {
    background-color: var(--card-bg-color);

    .icon {
        color: var(--theme);
    }

    .apply-leave-form {

        /* Upload Box */
        .upload-box {
            border: 2px dashed var(--border-color);
            border-radius: 10px;
            padding: 20px;
            transition: border-color 0.2s;
            cursor: pointer;
        }

        .upload-box:hover {
            border-color: var(--theme);
        }

        .upload-label {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }

        .upload-icon {
            color: var(--theme);
            margin-bottom: 8px;
        }

        .upload-text {
            font-size: 14px;
            color: #666;
        }

    }
}

/* Expense Claim Stylings */

.expense-claim {
    background-color: var(--card-bg-color);

    .icon {
        color: var(--theme);
    }

    .expense-claim-form {

        /* Upload Box */
        .upload-box {
            border: 2px dashed var(--border-color);
            border-radius: 10px;
            padding: 20px;
            transition: border-color 0.2s;
            cursor: pointer;
        }

        .upload-box:hover {
            border-color: var(--theme);
            /* Indigo border */
        }

        .upload-label {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }

        .upload-icon {
            color: var(--theme);
            margin-bottom: 8px;
        }

        .upload-text {
            font-size: 14px;
            color: #666;
        }

    }
}