.employee-card {
    background-color: var(--card-bg-color);
    padding: 16px;
    border-radius: 20px;
    margin-bottom: 14px;
    width: 100%;
    text-decoration: none;

    h5 {
        text-decoration: none;
    }

    ul {
        li {
            margin-bottom: 10px;
            .icon {
                font-size: 20px;
            }
        }
    }
}