.employee-directory {
    background-color: var(--body-bg);

    .filter-bar {
        padding: var(--padding-lg);
        background-color: var(--card-bg);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-glassy);
        border: 1px solid var(--border-color);
    }

    .employees-cards-container {
        padding: 0px;
        background-color: var(--body-bg);
        border-radius: var(--radius-lg);
        margin-top: 20px;
    }
}