.documents-preferences-card {
    background-color: var(--card-bg);
    padding: var(--padding-lg);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-glassy);
    border: 1px solid var(--border-color);

    .docs-section {
        padding: 0px;
    }

    .icon {
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        color: var(--theme);
    }

    h5 {
        margin: 0px;
        padding: 0px;
    }

    .preview-icon {
        color: var(--theme);
    }
}