.jobinfo-card {
  background-color: var(--card-bg);
  padding: var(--padding-lg);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-glassy);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;

  .icon {
    color: var(--theme);
  }

  .jobinfo-cell {
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow-soft);
  }
}