.reminders-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    max-height: 220px;
    overflow-y: auto;

    li {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        margin-bottom: 10px;
        border: 1px solid var(--border-color);
        box-shadow: var(--shadow-glassy);
        padding: var(--padding-md);
        border-radius: var(--radius-md);
    }
}